body {
    background-attachment: fixed;
    background-color: #396884;
    background-image: url(http://hdwallpaperpics.com/wallpaper/picture/image/Opera-Background-Blue-Swirls.jpg);
    background-position: top center;
    font-family: Helvetica;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.tr { width: 200px; }

#switcher.notr a:active,
#switcher.notr a:visited,
#switcher.notr a {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2), -2px -2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

#switcher.notr a:hover { background-color: rgba(0, 0, 0, 0.6); }

#switcher_parent {
    position: fixed;
    right: 10px;
    top: 10px;
}

#wrap {
    -khtml-border-radius: 11px;
    -khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    -moz-border-radius: 11px;
    -moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    -webkit-border-radius: 11px;
    -webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
    font-weight: normal;
    margin: 20px auto;
    padding: 16px;
    width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1a3c73;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 15px;
}

#description { margin-bottom: 20px; }

.blue {
    color: Blue;
    ;
    text-decoration: underline;
}

.box {
    background: #f3f3f3;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    color: #4f6f95;
    font-size: 12px;
    padding: 10px;
}

.note {
    background: #fef1ec;
    border: 1px solid #7a8fa9;
    border-radius: 2px;
    margin: 5px 0;
    padding: 3px;
}

.code {
    background-color: #eee;
    border: 1px solid #eee;
    color: #000;
}

.code .wrap {
    font-family: monospace;
    white-space: pre;
}

.box:hover .code {
    background-color: #fff;
    border-color: #92b5de;
}

.code .blue { color: #2c4bc1; }

.code .red { color: #c12c2c; }

.code .green { color: #14730d; }

.features { font-size: 14px; }

.features ul li { margin-bottom: 5px; }

table {
    -khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 4px;
    -moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 4px;
    -webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 4px;
    background-color: #fff;
    border: 1px solid #e5eff8;
    border-collapse: collapse;
    box-shadow: rgba(200, 200, 200, 1) 0 4px 4px;
    font-size: 11px;
    margin: 0 auto;
    width: 100%;
}

.box:hover table { border-color: #9fccf4; }

tr.odd td { background: #f7fbff }

tr:hover td {
    background-color: #bddaf4;
    color: #1d4b74;
}

td {
    border-bottom: 1px solid #e5eff8;
    border-left: 1px solid #e5eff8;
    color: #678197;
    padding: .7em 1em;
}

td.left { text-align: left; }

th {
    border-bottom: 1px solid #e5eff8;
    border-left: 1px solid #e5eff8;
    color: #678197;
    font-weight: normal;
    padding: .3em 1em;
    text-align: left;
}

thead th {
    background: #f4f9fe;
    color: #66a3d3;
    font: bold 1.2em/2em "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.browser {
    border-radius: 5px;
    float: left;
    height: 138px;
    margin-right: 22px;
    position: relative;
    width: 138px;
}

.browser:hover { background-color: #d5e0fe; }

.browser a {
    display: block;
    height: 100%;
    margin: 5px;
    text-decoration: none;
    width: 100%;
}

.browser a div {
    background-color: rgba(0, 0, 0, 0.8);
    *background-color: #000000;
    border: 1px solid #82bac9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    color: #fff;
    display: none;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    top: 50%;
    width: 128px;
}

#firefox { background: url('../images/browsers/firefox.png') no-repeat; }

#chrome { background: url('../images/browsers/chrome.png') no-repeat; }

#ie { background: url('../images/browsers/ie.png') no-repeat; }

#opera { background: url('../images/browsers/opera.png') no-repeat; }

#safari { background: url('../images/browsers/safari.png') no-repeat; }

.box a {
    color: #4c91df;
    text-decoration: none;
}

.box a:hover { color: #9fc4ed; }

select.tagit-hiddenSelect { display: inline-block !important; }