<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EditPosts.Db.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EditPosts.Db.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Twix\Documents\GitHub\EditPosts\EditPosts.Views\App_Data\Database1.mdf;Integrated Security=True;User Instance=True</value>
            </setting>
        </EditPosts.Db.Properties.Settings>
    </applicationSettings>
</configuration>